body {
    color: #1c1c20;
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: #1c1c20;
}

h2 {
    margin-top: 20px;
}

h3 {
    color: #ffffff;
    font-weight: 200;
}

section {
    border: 1px solid #000;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 5%;
    background-color: rgb(23, 48, 94);
    
}

p {
    color:aliceblue;
    font-weight: lighter;
}